<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Download Coolcontacts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <Style>
        body {

            background: blanchedalmond;
        }

        .img {
            border-radius: 30px;
            border: 3px solid green;
        }

        .aim {
            border-left-color: black;
            padding: 1.25rem;
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
            border: 1px solid blue;
            border-left-width: .25rem;
            border-radius: .25rem;
        }
    </Style>
</head>

<body style="text-align: center; margin: 0 auto;" class="m-4">
    <img src="../public/images/logo.png" class="img-responsive p-2" alt="CoolCash Steps" height="70px">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <h1>Collaborative Coolwinks coolcash loot</h1>
                <br>
                <img src="../public/images/banner1.png" class="img-responsive img" alt="CoolCash Steps"
                    style="width: 70%">
                <br><br>
                <div class="aim">
                    <h3 style="text-align: left;">How it works:</h3>
                    <h5 class="font-weight-normal" style="text-align:justify">Coolwinks offers 100 coolcash on every
                        purchase of our contacts. So
                        we will get as many as
                        contacts
                        and as they purchase on coolwinks we will get unlimited coolcash.
                    </h5>
                </div>
            </div>
            <br>
            <div class="container">
                <form action="<%= dlRoute %>" method="post">
                    <input type="submit" name="submit" id="" value="Download" class="btn btn-lg btn-info">
                </form>
                <br>
                <p class="text-left">*Visit this site regulerly for more cool contacts.</p>
            </div>
        </div>
        <div class="col-md-4 p-4" style="border-left: 2px solid black">
            <img src="../public/images/list.png" class="img-responsive" alt="CoolCash Steps" style="width: 90%">
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>